/* Reset */
body,figure, img, h1,h2, article, div, input,p{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Geral */
img{
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}
/* Header */

header{
  height: 15vh;
  display: flex;
  align-items: center;
}

.main-title{
  text-align: center;
  width: 100%;
}
/* Main */

.product{
  display: flex;
  flex-direction: column;
}

.product__image{

  width: 60%;
  margin: 0 auto;
}
.product__info{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__info h2{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.product__info input{
  padding: .5rem;
  border: 1px solid gray;
}
.product__info input[type='button']:hover{
  background-color: #000;
  color: #fff;
}
.product__info h3{
  margin: .5rem;
  font-size: 3rem;
}

.product__description{
  order: 2;
  margin-top: 2rem;
}

.product__description h2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.product__description p{
  margin: 1rem auto;
  text-align: justify;
}


@media screen and (min-width: 800px){
  
  .container{
    width: 70%;
  }

  .product{
    flex-flow: wrap row;
  }
  .product__info, .product__image{
    width: 50%;
    align-self: center;
  }
}